<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.gudong.translate"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- for search result -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- for listen clipboard better -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- for umeng-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="name.gudong.translate.GDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- begin umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56a45cd9e0f55add0d002d49"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- bug hd -->
        <meta-data android:value="60641333d73c37d9db66465ab8f78cc9" android:name="BUG_HD_SDK_GENERAL_KEY" />

        <activity android:name="name.gudong.translate.ui.activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="name.gudong.translate.listener.ListenClipboardService"
            android:enabled="true"
            android:exported="true"
            android:process=":process"/>

        <receiver
            android:name="name.gudong.translate.listener.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name="name.gudong.translate.ui.activitys.WordsBookActivity">
        </activity>
    </application>

</manifest>
